@model NationalCrime.Web.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}



@using(Html.BeginForm("LogIn","Account",FormMethod.Post))
{
    @Html.ValidationSummary(true)
  
    <div class="allerrors">
          @Html.ValidationMessageFor(m=>m.UserName)
         @Html.ValidationMessageFor(m=>m.Password)
    </div>
    <div id="container">
        
    <label for="username">Username:</label>
@Html.TextBoxFor(m => m.UserName)
    <label for="password">Password:</label>
@Html.PasswordFor(m=>m.Password)

<input type="submit" value="Submit" name="Submit" />
        </div>
}
